.App{
    
    

}
.Post{
    width:80%;
    border: 2px rgb(7, 94, 255);
    border-style:double;
    margin-bottom: 50px;
    margin-top: 50px;
    padding:10px;
    padding-left:1px;
    align-items: center;
    justify-content: space-between;
    display:flex;

}

.Post_button{
    
    

}

.post-enter {
  opacity: 0;
}
.post-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}